<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <h2 class="form-signin-heading">Please sign in</h2>

    <div *ngIf="invalidLogin" class="alert alert-danger">
        Invalid username and/or password!
    </div>
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input required type="email" id="inputEmail" name="email" ngModel class="form-control">

    <label for="inputPasssword" class="sr-only">Password</label>
    <input required type="password" id="inputPasssword" name="password" ngModel class="form-control"> 

    <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>